
html, body {
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.table thead th {
    background-color: #343a40;
    color: white;
}
